<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">

        <div  class="text-right" *ngFor="let item of _cs.chats" 
        [ngClass]="{'text-right': _cs.usuario.uid == item.uid} ">
            <span [ngClass]="{'badge-primary': _cs.usuario.uid == item.uid, 'badge-success': _cs.usuario.uid != item.uid}" 
            class="badge">{{ item.nombre }}</span>
            <p>{{ item.mensaje }}</p>
        </div>
</div>

<input type="text" name="mensaje" id="mensaje" 
    class="form-control"
    placeholder="Enviar mensaje..." 
    [(ngModel)]="mensaje" 
    (keyup.enter) ="enviar_mensaje()">