<div class="container animated fadeIn fast">
  <h4>Heroes</h4>
  <div class="text-right">
    <button [routerLink]="['/heroe',0]" class="btn btn-outline-success">Agregar</button>
  </div>
  <hr>

  <div class="row">
    <div class="table table-responsive">

      <table class="table">
        <thead>
          <tr>
            <td>#</td>
            <td>Nombre</td>
            <td>Origen</td>
            <td>Acciones</td>
          </tr>
        </thead>
      </table>

    </div>

  </div>
</div>
