<h1>Listado de personajes</h1>
<hr>
<div class="row">
  <div class="col text-right">
    <button class="btn btn-primary" [routerLink]="[ '/heroe', 'nuevo' ]"><i class="fa fa-plus"></i> Agregar</button>
  </div>
</div>
<div class="container">
  <table class="table mt-3 table-hover animated fadeIn faster">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Disponible</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personaje of personajes; let i = index">
        <td>{{ i + 1  }}</td>
        <td>{{ personaje.nombre }}</td>
        <td>{{ personaje.descripcion }}</td>
        <td>
            <label *ngIf="personaje.habilitado" class="badge badge-success"> Habilitado</label>
            <label *ngIf="!personaje.habilitado" class="badge badge-danger"> Inhabilitado</label>
        </td>
        <td>
          <button class="btn btn-info mr-1" [routerLink]="['/heroe', personaje.id]" >
            <i class="fa fa-pen"></i>
          </button>

          <button class="btn btn-danger mr-1">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading"> Sin registros</h4>
    <p>
      <i class="fa fa-exclamation fa-2x"></i>
    </p>
  </div>

  <div class="alert alert-info text-center mt-3">
      <h4 class="alert-heading"> Cargando ...</h4>
      <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
      </p>
      <p class="mb-0">
        Espere por favor.
      </p>
    </div>