<h1>Personaje <small>nombre</small></h1>
<hr>
<div class="row">
  <div class="col text-right">
    <button class="btn btn-outline-danger" [routerLink]="[ '/heroes']"><i class="fa fa-arrow-left"></i>
      Regresar</button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <form (ngSubmit)="Guardar(form)" #form="ngForm" >
      <div class="form-froup">
        <label>Firebase ID</label>
        <input type="text" class="form-control" placeholder="Firebase ID" disabled [(ngModel)]="personaje.id" name="id">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>
      <div class="form-froup">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre del personaje" required [(ngModel)]="personaje.nombre" name="nombre">
      </div>
      <div class="form-froup">
        <label>Descripción</label>
        <input type="text" class="form-control" placeholder="Descripción" [(ngModel)]="personaje.descripcion" name="descripcion">
      </div>
      <div class="form-froup">
        <label>Estado</label>
        <br>
        <button *ngIf="!personaje.habilitado" (click)="personaje.habilitado = true" 
          class="btn btn-outline-success w-50"><i class="fa fa-unlock"></i> Habilitar</button>
        <button  *ngIf="personaje.habilitado" (click)="personaje.habilitado = false" 
          class="btn btn-outline-danger w-50"><i class="fa fa-lock"></i> Inhabilitar</button>
      </div>

      <hr>
      <div class="form-group texte-center">
        <button type="submit" class="btn btn-primary w-25"><i class="fa fa-save"></i> Guardar</button>
      </div>
    </form>
  </div>
</div>